h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
h3 {
    color: gold;
    text-align: center;
}
.log {
      color: black;
      border-color: green;
        border-width: 10px;
        border-style: groove;
        border-radius: 50px;
        font-family: 'Permanent Marker', cursive;
        font-size: large;
        margin-left: 15%;
        margin-top: 0%;
        margin-right: 15%;
        padding: 5%;
        
}
.product_wrapper {
  float:left;
  padding: 10px;
  text-align: center;
  }
 .product_wrapper:hover {
  box-shadow: 0 0 0 2px #e5e5e5;
  cursor:pointer;
  }
 .product_wrapper .name {
  font-weight:bold;
  }
 .product_wrapper .buy {
  text-transform: uppercase;
  background: #F68B1E;
  border: 1px solid #F68B1E;
  cursor: pointer;
  color: #fff;
  padding: 8px 40px;
  margin-top: 10px;
 }
 .product_wrapper .buy:hover {
  background: #f17e0a;
  border-color: #f17e0a;
 }
 .message_box .box{
  margin: 10px 0px;
  border: 1px solid #2b772e;
  text-align: center;
  font-weight: bold;
  color: #2b772e;
  }
 .table td {
  border-bottom: #F0F0F0 1px solid;
  padding: 10px;
  }
 .cart_div {
  float:right;
  font-weight:bold;
  position:relative;
  }
 .cart_div a {
  color:#000;
  } 
 .cart_div span {
  font-size: 12px;
  line-height: 14px;
  background: #F68B1E;
  padding: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  left: 13px;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  }
 .cart .remove {
  background: none;
  border: none;
  color: #0067ab;
  cursor: pointer;
  padding: 0px;
  }
 .cart .remove:hover {
  text-decoration:underline;
  }
    